.page-content {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-content p {
  text-align: justify;
}
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
  line-height: normal;
}
.tag-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0 0.5em 0 0;
  padding: 0.2em;
}
figure img {
  vertical-align: top;
}
figure figcaption {
  text-align: center;
  font-size: small;
  margin-top: 1em;
}
@media (max-width: $container-width) {
  .page-content {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 60vw;
  }
}
@media (max-width: $tablet-width) {
  .page-content {
    width: 95vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .featured-image img {
    align: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 95vw;
  }
}
.post-share {
  padding-bottom: 1rem;
}
.sharing-icons a {
  padding-right: 10px;
}

/*
  Related Posts
*/

.related {
  padding-bottom: 1rem;
}
.related a {
  text-decoration: none;
}
.related ul, ol, dl {
  margin: 0px;
}
.related-posts {
  width: 100%;
  list-style: none;
  display: inline-block;
}
.related-thumbnail {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.related img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.related-title {
  text-align: right;
  font-family: $base-font-family;
  padding-right: 1.5vw;
}
.related-meta {
  text-align: right;
  padding-bottom: .5rem;
  padding-right: 1.5vw;
  font-family: $base-font-family;
  font-size: medium;
  font-weight: lighter;
}
