.form-container {
    border-radius: 10px;
    background-color: #ececec;
  }

.form-container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

form {
    margin: 10px;
    margin-top: 1em;
}

input[type=text], input[type=email], select, textarea {
    padding: 10px;
    width: 100%;
    max-width: -webkit-fill-available;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    height: 5em;
}

input[type=submit] {
    background-color: #e60000;
    color: white;
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 1em;
}

input[type=submit]:hover {
    background-color: #f82500;
}