.notfound-container {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:85vh;
}

.notfound-container a {
    font-size: 1.4em;
    color: rgb(240, 6, 6);
    text-decoration: none;
}

.notfound-container a:hover {
    color: rgb(189, 9, 9);
    text-decoration: none;
}

.notfound-content h1 {
    font-size: 5em;
}