.post-content blockquote {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 40px !important;
    margin-inline-end: 40px !important;
    background: #f9f9f9;
    border-left: 10px solid rgb(31, 31, 31);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.post-content blockquote p {
    margin: 0 !important;
}

.post-content blockquote p::before {
    color: rgb(31, 31, 31);
    content: open-quote;
    font-size: 3em;
    line-height: 0em;
    margin-right: 0.1em;
    vertical-align: -0.5em;
}

.post-content strong {
    font-weight: bold;
}