.home-content {
    width: 85vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.home-content .row::after {
    content: "";
    display: table;
    clear: both;
}

.home-content .column {
    float: left;
    width: 33.33%;
    padding: 0 1em;
}

.home-content p {
    font-size: 1.1em;
}

@media screen and (max-width: 600px) {
    .home-content .column {
      width: 95%;
      padding: 0;
    }
  }