.contact-content {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: justify;
}

.contact-content a {
    color: rgb(240, 6, 6);
    text-decoration: none;
}

.contact-content a:hover {
    color: rgb(189, 9, 9);
    text-decoration: none;
}

@media (max-width: 768px) {
    .contact-content {
        width: 95%;
    }
}