.post-card {
    width: 35rem;
    margin: 0 auto;
    float: none;
    border-radius: 10px !important;
    margin-bottom: 1em;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 250px;  
}

.card-title {
    color: rgb(240, 6, 6);
}

.post-card svg {
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
    width: 0.875em;
    margin-right: 10px;
}

.card-text-author {
    margin-bottom: 0em;
}